<div class="author">
    <h2 class="author_heading">Hi, I'm Obeke Godfrey Vicent</h2>
    <p class="author_body">Software Quality Assurance Engineer & DevOps Engineer</p>
</div>

<img src="/images/obeke-godfrey-vicent.jpg" alt="Obeke Godfrey Vicent" class="author_image" width="981" height="528">

<section class="article">
    <h2 class="article_heading">latest Posts</h2>
    <p class="article_body">This is a simple blog created with NodeJs, Express and MongoDB. Here, I share my thoughts on software quality assurance, DevOps, and other related topics. Stay tuned for more articles!</p>

    <ul class="articles-ui">
        <li><a href="a">
            <span>Post Title</span>
            <span class="article-list_data">Date</span>
        </a></li>
        
    </ul>
</section>