<div class="author">
    <h2 class="author_heading">Hi, I'm Obeke Godfrey Vicent</h2>
    <p class="author_body">Software Quality Assurance Engineer & DevOps Engineer</p>
</div>

<img src="/images/obeke-godfrey-vicent.jpg" alt="Obeke Godfrey Vicent" class="author_image">